{% extends "abc.html" %}
{% block content %}

<div class="content">
	<div class="green_banner">
		<div class="container">
			<h1 id="logo">Загружай свои достижения и сравнивай</h1>
		</div>
	</div>


	<div class="grey_block">
		<div class="container">
			<p class="title" id="Description"> Описание</id></p>
			<p>Данный портал является веб-платформой для хранения, оценивания достижений и составления
			“рейтинга” на их основе. С помощью определённых
			критериев оценивания, каждая грамота,
			диплом, сертификат и.т.п. будут оцениваться, и заноситься в
			рейтинг.</p>

			<p>Данный проект предназначен для пользователей,
				которые в данный момент времени
				ещё обучаются в школах, лицеях, интернатах,
				и прочих учебных заведениях, предназначенных
				для получение начального и среднего образования.  </p>

		</div>
	</div>



	<div class="container">
		<div class="introducing">
			<br>
			<p class="title" id="Ratings">Рейтинги</p>

			<p>Так что же такое "рейтинг"?</p>

			<p>Рейтинг - список <strong>всех</strong> пользователей
				сайта загрузивших свои достижения, а так же ещё не успевших это сделать. Список будет отсортирован по
				возрастанию суммарно набранных пользователем баллов.</p>

			<p>В рейтинге будут
				указываться имя, фамилия, год обучения(класс) пользователя
				указаные им при регистрации, а также количество набранных баллов.</p>

			<br>
		</div>
	</div>


	<div class="grey_block">
		<div class="container">
			<p class="title" id="Сriteria">Критерии</p>
			<img class="crit-img" src="static/img/criteria.png" alt="Что-то пошло не так">
		</div>
	</div>
	</div>
</div>
{% endblock %}