{% extends "abc.html" %}
{% block content %}
<div class="content">
    <p class="title">Регистрация</p>
    <div>
        <form class="login_form" method="post">
            <!-- Поле ввода имени -->
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", placeholder="Введите имя") }}
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <!-- Поле ввода фамилии -->
            <div class="form-group">
                {{ form.surname.label }}<br>
                {{ form.surname(class="form-control", placeholder="Введите фамилию") }}
                {% for error in form.surname.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>

            <!-- Поле ввода e-mail -->
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", placeholder="Введите адрес почты") }}
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <!-- Поле ввода пароля -->
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", placeholder="Введите пароль") }}
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <!-- Поле ввода класса -->
            {{ form.clas.label }}<br>
            {{ form.clas(class="form-control", placeholder="Введите пароль") }}
            {% for error in form.clas.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            <br>
            {{ form.submit(type="submit", class="btn btn-primary")}}
        </form>
        <p></p>
    </div>
</div>
{% endblock %}
